<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>taskwarrior</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>01E29AD0-1E7B-4108-8C56-C573B38F33D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B44A8F2-3304-40B2-ABB4-0305B5C5989C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>33403F78-2600-4581-93E0-AE0E509A7EA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B44A8F2-3304-40B2-ABB4-0305B5C5989C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4D148B18-D352-4DD1-B8AD-B8C084B4720B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B44A8F2-3304-40B2-ABB4-0305B5C5989C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>85D2B9E6-8AA5-4C01-9136-234490374410</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01E29AD0-1E7B-4108-8C56-C573B38F33D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>92F95AE8-4EF7-4908-B120-10174D6A5692</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33403F78-2600-4581-93E0-AE0E509A7EA8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Press Ctrl-Enter to mark this task as done</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ED03F635-5F8B-4531-B165-DFF3FB525BEE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Press Alt-Enter to delete this task</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB3ABF4D-4EC0-4039-91D4-940587DE927F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Press Shift-Enter to modify this task</string>
			</dict>
		</array>
		<key>9629EF24-F4E2-40BC-BFC1-F843224E1597</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED03F635-5F8B-4531-B165-DFF3FB525BEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>998A3EB4-48E1-4437-8D0B-5F20DF11AAEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D148B18-D352-4DD1-B8AD-B8C084B4720B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D5637614-EF02-4AB1-9127-73DC258B06B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33403F78-2600-4581-93E0-AE0E509A7EA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ED03F635-5F8B-4531-B165-DFF3FB525BEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B44A8F2-3304-40B2-ABB4-0305B5C5989C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roy Zuo</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Taskwarrior</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/task add {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D148B18-D352-4DD1-B8AD-B8C084B4720B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t add</string>
				<key>subtext</key>
				<string>Add a new task to taskwarrior</string>
				<key>text</key>
				<string>add</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>998A3EB4-48E1-4437-8D0B-5F20DF11AAEF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>t undo</string>
				<key>subtext</key>
				<string>Revert an deletion/completion</string>
				<key>text</key>
				<string>undo</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85D2B9E6-8AA5-4C01-9136-234490374410</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>yes | /usr/local/bin/task undo |tail -n1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>01E29AD0-1E7B-4108-8C56-C573B38F33D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TaskWarrior</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6B44A8F2-3304-40B2-ABB4-0305B5C5989C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/task {query} do</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>33403F78-2600-4581-93E0-AE0E509A7EA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>t do</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>ruby main.rb ls</string>
				<key>subtext</key>
				<string>Mark a task as completed</string>
				<key>title</key>
				<string>do</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D5637614-EF02-4AB1-9127-73DC258B06B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>t del</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>ruby main.rb ls</string>
				<key>subtext</key>
				<string>Delete a task</string>
				<key>title</key>
				<string>delete</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9629EF24-F4E2-40BC-BFC1-F843224E1597</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>yes | /usr/local/bin/task {query} del</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED03F635-5F8B-4531-B165-DFF3FB525BEE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>t list</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>if [[ -n "{query}" ]]; then
    ruby main.rb ls {query}
else
    ruby main.rb ls
fi</string>
				<key>subtext</key>
				<string>List tasks matching a pattern, i.e. t ls due:tod.  Ctrl - do, Alt - del, Shift - Edit</string>
				<key>title</key>
				<string>list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>92F95AE8-4EF7-4908-B120-10174D6A5692</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/local/bin/task {query} edit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>CB3ABF4D-4EC0-4039-91D4-940587DE927F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01E29AD0-1E7B-4108-8C56-C573B38F33D2</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>33403F78-2600-4581-93E0-AE0E509A7EA8</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>4D148B18-D352-4DD1-B8AD-B8C084B4720B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6B44A8F2-3304-40B2-ABB4-0305B5C5989C</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>85D2B9E6-8AA5-4C01-9136-234490374410</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>92F95AE8-4EF7-4908-B120-10174D6A5692</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>9629EF24-F4E2-40BC-BFC1-F843224E1597</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>998A3EB4-48E1-4437-8D0B-5F20DF11AAEF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CB3ABF4D-4EC0-4039-91D4-940587DE927F</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>D5637614-EF02-4AB1-9127-73DC258B06B4</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>ED03F635-5F8B-4531-B165-DFF3FB525BEE</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/roylez/alfred_taskwarrior</string>
</dict>
</plist>
